<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Finish Payment</title>
</head>

<body>
    <main class="container mx-auto min-h-screen w-full">
        <section class="flex flex-col gap-6 items-center min-h-screen justify-center">
            <h1 class="text-3xl">Thank for your payment</h1>
            <p>You can close this tab</p>
        </section>
    </main>
</body>

</html>